<div class="row mb-3">
  <div class="col-sm-6">
    <%= form.input :name, required: true, input_html: { class: "form-control" } %>
  </div>
  <div class="col-sm-6">
    <%= form.input :description, input_html: { class: "form-control" } %>
  </div>
</div>
